@charset "UTF-8";

#wrap{width:100%; height:100%; overflow: hidden; position: relative;}
	
	#header{width:100%; height:100%; position: relative;}
		.h_top_wrap{width:100%; height:100%; background:#333;}
		.h_top_wrap .h_top{width:100%; max-width:1050px; height:40px; margin:0 auto; line-height:40px;}
		.h_top_wrap .h_top ul{text-align: right;}
		.h_top_wrap .h_top ul li{display: inline-block;}
		.h_top_wrap .h_top ul li a{color:#fff; padding:0 5px; line-height:40px;}
		
		.h_mid_wrap{width:100%; height:100%; border-top:3px solid #5383e8;}
		.h_mid_wrap .h_mid{}
		.h_mid_wrap .h_mid ul{text-align: center;}
		.h_mid_wrap .h_mid ul li{display: inline-block; border:1px solid #e1e1e1; padding:20px 30px; margin-right:-4px; border-top:0; border-bottom:0; position: relative;}		
		.h_mid_wrap .h_mid ul li.on:after{    z-index: 1;    content: '';    position: absolute;    border-top: 10px solid #5383e8;    border-right: 10px solid transparent;    border-left: 10px solid transparent;    bottom: -8px;    left: 44%;}		
		.h_mid_wrap .h_mid ul li a{}
		.h_mid_wrap .h_mid ul li a img{width:60px; height:auto;}
		.h_mid_wrap .h_mid ul li a p{text-align:center; font-size:16px; font-weight: bold; color:#333;}
		
		.h_mid_wrap .h_mid ul li:hover:after{    z-index: 1;    content: '';    position: absolute;    border-top: 10px solid #5383e8;    border-right: 10px solid transparent;    border-left: 10px solid transparent;    bottom: -8px;    left: 44%;}
		.h_mid_wrap .h_mid ul li:hover{background:#5383e8;}
		.h_mid_wrap .h_mid ul li:hover a p{color: #fff;}
		.h_mid_wrap .h_mid ul li.on{background:#5383e8;}
		.h_mid_wrap .h_mid ul li.on a p{color: #fff;}
		
		.h_bot_wrap{width:100%; height:100%; border-top:1px solid #e1e1e1;}
		.h_bot_wrap .h_bot{}
		.h_bot_wrap .h_bot ul.h_bot_list{text-align: center;}
		.h_bot_wrap .h_bot ul.h_bot_list > li{display: inline-block; position:relative;}
		.h_bot_wrap .h_bot ul.h_bot_list > li > a{padding:10px 40px; font-size:14px; font-weight: bold;}
		.h_bot_wrap .h_bot ul.h_bot_list > li > a.on{color:#5383e8;}
		.h_bot_wrap .h_bot ul.h_bot_list > li > a:hover{color:#5383e8;}
		.h_bot_wrap .h_bot ul.h_bot_list > li > ul{position: absolute; top:40px; lefT:0; width:100%; z-index:9; background:rgba(255,255,255,0.5); display:none;}		
		.h_bot_wrap .h_bot ul.h_bot_list > li > ul li{}		
		.h_bot_wrap .h_bot ul.h_bot_list > li > ul li a{font-size:14px; color:#333; transition:all,.5s; padding:10px 0; font-weight: bold;}		
		.h_bot_wrap .h_bot ul.h_bot_list > li > ul li a:hover{color:#5383e8;  transition:all,.5s; background:rgba(255,255,255,0.5)}		
		
		
	/*로그인css start*/
	.h_login{ position:fixed; z-index:99999; top:0; right:0; bottom:0; left:0; background:url(/resources/img/bg70.png); transition:none; display:none;}
		.h_login .box{ position:absolute; top:100px; left:50%; margin:0 0 0 -200px; width:400px; border-radius:3px; background:#FFF;}
		.h_login .box .head{ padding:0 20px; height:50px; border-bottom:1px solid #DDD;}
		.h_login .box .head p{ float:left; line-height:50px; font-size:15px; font-weight:600; color:#333;}
		.h_login .box .head p i{ float:left; margin:0 5px 0 0; line-height:50px; font-size:24px; color:#333;}
		.h_login .box .head .xi-close{ float:right; line-height:50px; font-size:20px; color:#666; cursor:pointer;}
		.h_login .box .body{ padding:30px;}
		.h_login .box .body .input{ position:relative; margin:0 0 10px 0;}
		.h_login .box .body .input i{ display:block; position:absolute; top:0; left:0; z-index:10; width:50px; text-align:center; line-height:40px; font-size:18px; color:#666;}
		.h_login .box .body .input input{ display:block; padding:0 10px 0 50px; width:100%; height:40px; border-radius:0; border:1px solid #DDD; background:#f5f5f5; line-height:38px; font-size:13px; color:#333; outline:none; -webkit-appearance:none; box-sizing:border-box;}
		.h_login .box .body .input input.password{ font-family:Arial;}
		.h_login .box .body .input .code{ position:absolute; z-index:20; top:0; right:0; width:80px; height:40px; border:1px solid #DDD; background:#FFF; text-align:center; line-height:40px; font-size:13px; color:#333;}
		
		.h_login .box .body .id_save{ display:block; float:left; margin:0; line-height:30px; font-size:13px; font-weight:normal; color:#666; cursor:pointer;}
		.h_login .box .body .id_save input{ display:block; float:left; margin:8px 5px 0 0; width:14px; height:14px;}
		.h_login .box .body .id_save:hover{ text-decoration:underline; color:#000;}
		
		.h_login .box .body .button{ margin:10px 0 0 0; border-radius:3px; background:#000; text-align:center; line-height:40px; font-size:16px; font-weight:800; color:#FFF; cursor:pointer;}
		.h_login .box .body .button:hover{ background:#333;}
		
		.h_login .box .body .menu{ float:right;}
		.h_login .box .body .menu li{ float:left;}
		.h_login .box .body .menu li a{ line-height:30px; font-size:13px; font-weight:normal; color:#666; cursor:pointer;}
		.h_login .box .body .menu li a:hover{ color:#333; text-decoration:underline !important;}
		.h_login .box .body .menu li span{ display:block; margin:8px 10px; width:1px; height:14px; background:#CCC;}
		
		.h_login .box .body .line{ margin:20px 0; border-top:1px solid #DDD;}
		
		.h_login .box .sns{ overflow:hidden; margin:-5px -2.5px 0 -2.5px;}
		.h_login .box .sns li{ overflow:hidden; float:left; width:50%; margin:5px 0 0 0;}
		.h_login .box .sns li a{ margin:0 2.5px; border-radius:2px; background:#666; line-height:35px; font-size:13px; color:#FFF;}
		.h_login .box .sns li a i{ float:left; margin:0 20px 0 0; width:35px; height:35px; background:rgba(0,0,0,0.15); text-align:center; line-height:35px; font-size:20px; color:#FFF;}
		.h_login .box .sns li.n a{ background:#00c73c;}
		.h_login .box .sns li.k a{ background:#fae100; color:#3c1e1e;}
		.h_login .box .sns li.k a i{ color:#3c1e1e;}
		.h_login .box .sns li.f a{ background:#3b5998;}
		.h_login .box .sns li.g a{ background:#d64136;}
		.h_login .box .sns li:hover a{ opacity:0.7; text-decoration:underline !important;}
		
		.h_login .box .join_btn{ margin:15px 0 0 0; text-align:right; line-height:15px; font-size:13px; color:#666;}
		.h_login .box .join_btn a{ display:inline-block; font-weight:600; color:#333; cursor:pointer;}
		.h_login .box .join_btn a:hover{ text-decoration:underline !important;}
	
		
		.login_show{ display:none;}
		.find_id_show{ display:none;}
		.find_id_ok_show{ display:none;}
		.find_pw_show{ display:none;}
		.profile_pw_show{ display:none;}
	
		.join_show{ overflow:hidden; position:static; background:#fafafa;}
		.join_show .box{ position:static; margin:60px auto; border:1px solid #DDD;}
		.join_show_terms .content{ overflow-y:scroll; padding:29px; margin:0; width:auto; max-height:150px; border:1px solid #CCC; border-radius:0; background:#f5f5f5; line-height:20px; font-size:12px; color:#666;}
		
	/*로그인css end*/
	
	#container{width:100%; height:100%; position: relative;}
		.main_wrap{ background:#5383e8; width:100%; height:100%; position: relative;}
		.main_wrap .main_core{position: absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%);}
		.main_wrap .main_core .main_top{margin-top:-300px;  text-align:center;}
		.main_wrap .main_core .main_bot{margin-top:200px;}
		.main_wrap .main_core .main_bot form{ width:624px; height:50px; background:#fff; position: relative;}
		.main_wrap .main_core .main_bot form input{width:100%; display: block; padding: 15px 150px 18px 17px; background:none; border:none; line-height:17px; font-size:14px; color:#9b9b9b; outline:none; box-sizing:border-box;}
		.main_wrap .main_core .main_bot form button{position: absolute; top: 10px; right: 10px; width: 90px; height: 30px; background: #5383e8; color: #fff; border: none; font-size: 14px; box-sizing: border-box; cursor:pointer}
		
		
		.sub_banner{background:url(/resources/img/sub_banner_bg.jpg) no-repeat; width:100%; height:150px; background-size:100%; position: relative; background-position-y: 20%;}
		.sub_banner .bg{background:rgba(0,0,0,0.5); position: absolute; top:0; left:0; width:100%; height:100%;}
		.sub_banner .textBox{position: absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%);}
		.sub_banner .textBox p{color:#fff; text-align: center;}		
		.sub_banner .textBox .title{font-size:30px;}
		.sub_banner .textBox .text{font-size:20px;}
		
		.nav_wrap{width:100%; height:40px; background:#e1e1e1; border-bottom:1px solid #ccc;}
			.nav{max-width:1100px; width:100%; margin:0 auto;}
			.nav > ul{overflow: hidden}
			.nav > ul > li{float:left; line-height:40px; border-right:1px solid #ccc; padding:0 10px; box-sizing:border-box; width:200px;}
			.nav > ul > li:first-child{border-left:1px solid #ccc; width:40px; text-align: center;}
			.nav > ul > li > a{font-size:13px;}
			.nav > ul > li > a > i{font-size:20px; vertical-align:middle; transition:all,.5s;}
			.nav > ul > li > a:hover > i{color:#5383e8; transition:all,.5s;}
			
		.content_form{max-width:1100px; width:100%; margin:50px auto; height:100%;}
			.content_form .j_title{font-size:16px; color:#333; font-weight: bold; margin-bottom:20px;}
			.content_form .j_textform{width:100%; height:300px; overflow-y:auto; border:1px solid #e1e1e1;}
			.content_form .j_input{float:right; margin-top:10px; margin-bottom:30px;}
			.content_form .j_input input{vertical-align: middle; margin-top: -4px; margin-right: 6px;}
			.content_form .j_input label{font-size:15px;}
			
			.content_form .j_button{text-align:center;}
			.content_form .j_button a{margin:0 auto;}
			
			.content_form .j_table_form{width:100%; border-top:2px solid #5383e8; border-bottom:2px solid #5383e8}
			.content_form .j_table_form tbody{}
			.content_form .j_table_form tbody tr{}
			.content_form .j_table_form tbody tr td{padding:10px 20px; font-size:14px;}
			.content_form .j_table_form tbody tr td label{font-size:14px; margin-right:5px;}
			.content_form .j_table_form tbody tr td input{font-size:14px; vertical-align: middle;}
			.content_form .j_table_form tbody tr td input[type="radio"]{margin-right:10px;}
			.content_form .j_table_form tbody tr td select{font-size:14px;}
			.content_form .j_table_form tbody tr td:first-child{border-right:1px solid #ccc; text-align:right;}
			.content_form .j_table_form tbody tr:nth-child(2n-1) td{background:#f5f6f7}
		
			.content_form .j_complete{width:100%; height:100%; border:1px solid #e1e1e1; text-align:center; padding:50px 0; box-sizing:border-box;}
			.content_form .j_complete img{margin-bottom:50px;}
			.content_form .j_complete .title{font-size:18px; font-weight: bold; margin-bottom:10px;}
			.content_form .j_complete .text{font-size:14px;}
			.content_form .j_complete .text span{color:#5383e8; font-size:14px; font-weight: bold;}
		
			.board_form{max-width:1100px; width:100%; margin:50px auto; height:100%;}
			.board_form .board_table{width:100%; border-top:2px solid #5383e8}
			.board_form .board_table thead{}
			.board_form .board_table thead tr{}
			.board_form .board_table thead tr th{padding:10px 20px; font-size:14px; border:1px solid #e1e1e1; background:rgba(83,131,232,0.3);}
			.board_form .board_table tbody{}
			.board_form .board_table tbody tr{}
			.board_form .board_table tbody tr td{padding:10px 20px; font-size:14px; border:1px solid #e1e1e1; text-align:center; position: relative;}
			.board_form .board_table tbody tr td i.deleteBtn{position: absolute; top:50%; right:5px; color:red; font-weight: bold; font-size:16px; transform:translateY(-50%); cursor:pointer}
			.board_form .board_table tbody tr:nth-child(2n-1) td{background:#f5f6f7}
			.board_form .board_table tbody tr td.title{text-align:left;}
			.board_form .board_table tbody tr td.title a{font-size:14px;}
			.board_form .search_form{float:right; margin-bottom:20px;}
			.board_form .search_form ul{overflow: hidden;}
			.board_form .search_form ul li{float:left; margin-left:5px;}
			.board_form .search_form ul li button{font-size:14px;}
						
			.board_form .board_table1 tbody tr td:first-child{text-align:center;}
			.board_form .board_table1 tbody tr td{text-align:left;}
			
			
			
			
			
			.paging_wrap{margin:50px auto;}
			.paging_wrap ul{text-align: center;}
			.paging_wrap ul li{display: inline-block;}
			.paging_wrap ul li a{border:1px solid #e1e1e1; padding:5px 10px; color:#333; font-size:14px;}
			.paging_wrap ul li.on a{border:1px solid #5383e8; color:#5383e8}
			
		
		
		
		
		
		
		
		